@charset "UTF-8";

form {
	width: 800px;
	margin: auto;
}

input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12pt;
	color: #6CA6CD;
	background-color:rgba(255,255,240,0.8);
}

fieldset {
	margin-bottom: 10px;
}

fieldset#mensagem {
	margin-bottom: 3px;
}

legend {
	color: #000000;
	font-weight: bold;
	font-size: 14pt;
	font-family: sans-serif;
}

fieldset#botoes input {
	width: 150px;
	height: 35px;
	font-weight: bold;
	color: #FFFFFF;
	border-radius: 15px;
	background-color: rgba(70,130,180,0.6);
}