@charset "UTF-8";
@media screen {
	body {
		margin: auto;
		position: relative;
		background-color: #fffafa;
		font-family:"Trebuchet MS", Tahoma, Arial, Verdana;
		color:#000;
		font-size: 12pt;
		text-align: justify;
	}

	div#interface {
		margin: 0px auto;
		padding: 0px auto;
		position: relative;
		background-color: white;
	}

	a#oculto, a#oculto2 {
		position: absolute;
		top: 0px;
		left: -50%;
		text-decoration: none;
		color: rgba(255,255,255,0.0);
	}
	
	span#diminuir-fonte, span#aumentar-fonte {
		border: solid;
		padding-left: 5px;
		padding-right: 5px;
		border-color: #FFFFFF;
		border-width: 2px;
		width: 30px;
		border-radius: 15px;
	}
	
	span#diminuir-fonte {
		position: absolute;
		top: 13px;
		left: 15px;
	}
	
	span#aumentar-fonte {
		position: absolute;
		top: 13px;
		left: 65px;
	}
	
	span#diminuir-fonte a, span#aumentar-fonte a {
		color: #FFFFFF;
		font-weight: bolder;
		font-size: 18pt;
	}
	
	header#cabecalho-secundario {
		background-color: #000000;
		height: 60px;
		text-align: right;
		vertical-align: middle;
		padding: 0px auto;
		margin: 0px auto;
	}
	
	header#cabecalho-principal {
		background-color: #8B0000;
		height: 60px;
		margin: auto;
		margin-bottom: 0px;
	}
	
	header#cabecalho-principal nav#menu-principal {
		display: block;
	}
	
	header#cabecalho-principal nav#menu-principal ul {
		list-style: none;
		position: absolute;
	}
	
	header#cabecalho-principal nav#menu-principal ul li {
		display: inline-block;
		vertical-align: middle;
		height: 60px;
		padding: 10px;
		padding-top: 0px;
		margin: 2px;
		vertical-align: middle;
		font-size: 14pt;
		transition: color 2s;
	}
	
	header#cabecalho-principal nav#menu-principal ul li a {
		text-decoration: none;
		color: #FFFFFF;
	}
		
	header#cabecalho-principal nav#menu-principal ul li a:hover {
		/*color: #87CEEB;*/
		color: #000000;
	}
	
		header#cabecalho-principal nav#menu-principal ul li.img-menu {
		position: relative;
		padding: 0px;
		top: -28px;
		
		text-align: middle;
	}
	
	h1 {
		font-size: 18pt;
		text-align: left;
		color: #DC143C;
	}
	
	h2 {
		margin-left: 70px;
		font-size: 14pt;
		color: #008B8B;
		text-align: left;
	}
	
	h2.imagens {
		color: #FFFFFF;
	}
	
	article#imagem {
		position: relative;
		top: 0px;
		left: 0px;
		margin-top: 0px;
		padding-top: 0px;
		height: 600px;
		background-color: pink;
	}
	
	article#imagem img {
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 0px auto;
		margin: 0px auto;
	}
	
	article#descricao {
		min-height: 500px;
		margin: 10px;
		margin-left: 70px;
		margin-right: 70px;
		margin-bottom: 0px;
	}
	
	img {
		margin: 10px 10px 10px 10px;
	}
	
	nav#menu-vertical {
		float: left;
		width: 300px;
	}
	
	nav#menu-vertical ul {
		list-style: none;
		position: absolute;
	}
	
	nav#menu-vertical ul li {
		display: list-block;
		vertical-align: middle;
		height: 20px;
		padding: 10px;
		padding-top: 0px;
		margin: 2px;
		vertical-align: middle;
		font-size: 14pt;
		background-color: #FA8072;
		transition: color 2s;
	}
	
	nav#menu-vertical ul li.sub-titulo1 {
		background-color: #8B0000;
		color: #FFFFFF;
	}
	
	nav#menu-vertical ul li.sub-titulo2 {
		background-color: #8B0000;
		color: #FFFFFF;
	}
	
	nav#menu-vertical ul li.sub-titulo3 {
		background-color: #8B0000;
		color: #FFFFFF;
	}
	
	nav#menu-vertical ul li.sub-titulo4 {
		background-color: #8B0000;
		color: #FFFFFF;
	}
	
	nav#menu-vertical ul li a {
		text-decoration: none;
		color: #000000;
	}
		
	nav#menu-vertical ul li a:hover {
		font-weight: bold;
	}
	
	aside#lateral {
		position: relative;
		left: 400px;
		float: left;
		width: 800px;
	}
	
	aside#lateral p {
		text-align: left;
	}
	
	table th#ld1 {
		width: 200px;
	}
	
	table th#ld2 {
		width: 120px;
	}
	
	table th#ld3 {
		width: 120px;
	}
	
	table th#ld4 {
		width: 100px;
	}
	
	table th#ld5 {
		width: 450px;
	}
	
	table th#ld6 {
		width: 90px;
	}
	
	table th#ld7 {
		width: 120px;
	}
	
	table th#ld8 {
		width: 100px;
	}
	
	form input#botao {
	width: 150px;
	height: 50px;
	font-size: 14pt;
	font-weight: bold;
	border-radius: 15px;
	color: #800000;
	background-color: #FFFFFF;
	border-color: #800000;
	}
	
	footer#rodape {
		min-height: 100px;
		background-color: #8B0000;
		color: #FFFFFF;
		padding-left: 70px;
		padding-right: 70px;
		margin-bottom: 0px;
	}
	
	footer#rodape a {
		color: #000000;
		font-weight: bolder;
		text-decoration: none;
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: middle;
	}
	
	header#cabecalho-secundario a img {
		text-indent: middle;
	}
	
	header#cabecalho-secundario a {
		text-decoration: none;
	}
	
	footer#rodape header#cabecalho-rodape nav#menu-rodape a img {
		vertical-align: middle;
	}
	
	footer#rodape article#rodape {
		text-align: right;
	}

	footer#rodape	header#cabecalho-rodape nav#menu-rodape a#facebook {
		position: absolute;
		left: 80%;
	}
	
	footer#rodape	header#cabecalho-rodape nav#menu-rodape a#instagram {
		position: absolute;
		left: 83%;
	}
	
	footer#rodape	header#cabecalho-rodape nav#menu-rodape a#twitter {
		position: absolute;
		left: 86%;
	}
	
	footer#rodape	header#cabecalho-rodape nav#menu-rodape a#twitch {
		position: absolute;
		left: 89%;
	}
	
	footer#rodape	header#cabecalho-rodape nav#menu-rodape a#youtube {
		position: absolute;
		left: 92%;
	}
	
	footer#rodape	header#cabecalho-rodape nav#menu-rodape a#IrParaTopo {
		position: absolute;
		top: 95%;
		left: 90%;
	}
	
	footer#rodape  select#lingua {
		width: 200px;
		height: 50px;
		font-weight: bold;
		border-radius: 15px;
		color: #FFFFFF;
		background-color: #008B8B;
		border-color: #FFFFFF;
	}	
}